.container {
    color : white;
    display: flex;
  }
  
  .background{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    z-index: -1;
  }
  
  .header{
    width: 100%;
    height: 80px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .header-title > a{
    font-weight: bold;
  }
  
  .header-menu{
    display: flex;
    align-items: center;
  }
  
  #header-item{
    list-style: none;
    margin : 10px;
    display: flex;
    justify-content: space-evenly;
    white-space: nowrap;
  }
  
  a {
    text-decoration: none;
    outline: none;
  }
  
  a:link {color : white;}
  a:visited {color : white;}
  
  #a-hover{
    font-size: 18px;
    white-space: nowrap;
  }
  
  
  .header-title > a{
    font-family: 'Dancing Script', cursive;
    font-size: 37px;
  }
  
  #header-item > li > a{
    margin-left: 10px;
    margin-right: 10px;
  }
  
  #header-item > li > a:hover{
    color: #FFBE33;
  }